.booth {
  width: 400px;
  background: #ccc;
  border: 10px solid #ddd;
  float: left;

}

.output
{

  
  width: 600px;
  background: #ccc;
  float: left;
  border: 10px solid #ddd;
  
}

.booth-capture-button {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  background: cornflowerblue;
  color: #fff;
  text-align: left;
  text-decoration: none;
}

#canvas {
  display: none;
}